.topbar{
    z-index: 2;   
    width: 100vw;
    position:  fixed;
    top: 0;
    left:0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topbar.header{
    z-index: 2;
    transition: .2s  ease-in;
}

.topbar.hidden{
    transition: .2s ease-in;
    z-index: -1;
    
}

.topbar.black{
    background-color: #242424;
}

.bar-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Desktop */
@media screen and (min-width: 900px) {
    .bar-list{
        width: 600px;
    }
}

/*Mobile*/
@media screen and (max-width: 900px) 
{
	.bar-list{
        width: 300px;
    }
}